
body{
  background-color: hsl(210, 46%, 95%);
  font-family: Barlow Semi Condensed;

}
img{
  width: 40px;
}
.name p{
  opacity: 50%;
}
p{
  font-size: 13px;
  opacity: 70%;
}
.name{
  margin-left: 60px;
}
.grid-container{
  display: grid;
  grid-template-columns:repeat(4 ,250px);
  grid-auto-rows: minmax(250px,auto);
  gap: 30px;
  justify-content: center;
  padding: 20px;
  height: 590px;
  align-content: center;
  background-color: hsl(210, 46%, 95%);
}
 .grid-item{
  padding: 20px;
}

.item-1{
  background-color: hsl(263, 55%, 52%);
  /* grid-column: span 2; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  color: hsl(210, 46%, 95%);
  border-radius: 10px;
  background-image: url('images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: right 70px top 10px;
}
.item-2{
  /* grid-column: span 1; */
  grid-column-start: 3 ;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
  border-radius: 10px;
}
.item-3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  border-radius: 10px;
}
.item-4{
  color: hsl(210, 46%, 95%);
  background-color:  hsl(219, 29%, 14%);
  /* grid-column: span 2; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  border-radius: 10px;
}
.item-5{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  color: hsl(217, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
@media (max-width: 576px) {
  .grid-container{
    display: block;
    width: 70%;
    margin: 15%;
  }
  .grid-item{
    margin-bottom: 30px;
  }
  .item-1{
    background-position: right 20px top 10px;
  }
  .attribution{
    display: none;
  }
}
